{% trans_default_domain "wellcommerce" %}
{% import "WellCommerceAppBundle:Front/Form:macros_horizontal.html.twig" as macros %}
<div class="well-form mbt60">
    <h4>{% trans %}client.heading.contact_details{% endtrans %}<small>{% trans %}form.help.required_fields{% endtrans %}</small></h4>

    {% include 'WellCommerceAppBundle:Front/Common:flashes.html.twig' %}

    {{ macros.form_begin(contactDetailsForm, 'form-horizontal') }}
        {% for element in contactDetailsForm.getChildren().get('contactDetails').getChildren() %}
            {{ macros.element(element) }}
        {% endfor %}
        <div class="row mtp20">
            <div class="col-sm-5 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">{% trans %}common.button.save{% endtrans %}</button>
            </div>
        </div>
    {{ macros.form_end(contactDetailsForm) }}
</div>
