{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}
    <div class="cms box">
        <h2>{{ news.translate.topic }}</h2>
        <hr>
        {% if news.photo %}
            <img class="pull-left" src="{{ image(news.photo.path, 'medium') }}" alt="{{ news.translate.topic }}">
        {% endif %}

        {{ news.translate.content|raw }}
    </div>
{% endblock %}
