{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
   <div class="row">
      <div class="col-sm-9 col-xs-12">
         <h4>{% trans %}common.error.404{% endtrans %}</h4>
      </div>
   </div>
{% endblock %}
